<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="css/styles.css" > <!-- Link a hoja de Estilos, el siguiente es de la fuente-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width"/> <!-- Atributo viewport, que el contenido se adapte a la visualizacion -->
    </head>
    <body>
        <header>
            <section >
                <img class="Logo" src="images/logo-mercado-liebre.svg" alt="Logo ML">
                <i class="buscador"> 
                    <input scr="Buscar Productos, Marcas"></input> 
                    <i class="fa-solid fa-magnifying-glass"></i>
                </i>
            </section>
            <section class="compra" >
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <span >Comprá en cuotas y sin tarjeta de crédito</span> 
            </section>
            <nav>
                <ul type="none" id="dad">               
                   <li><a href="#">Ofertas</a></li>
                   <li><a href="#">Tiendas Oficiales</a></li>
                   <li><a href="#">Vender</a></li>
                   <li><a href="#">Ayuda</a></li>
                   <li><a href="#">Creá tu cuenta</a>
                   <i class="fa-solid fa-id-card"></i> </li>
                   <li><a href="#">Ingresá</a>
                   <i class="fa-solid fa-right-to-bracket"></i> </li>
                   <li><a href="#">Mis compras</a>
                   <i class="fa-solid fa-cart-shopping"></i> </li>
                </ul>
             </nav>
             <img width=100% class="Divisor" src="images/Divisor.webp" alt="Divisor">
        </header>

        <main>
            <h2 width=100%>Basado en tu última visita</h2>
            <div id="padre">
                <br>
                <section id="Prod">
                    <img width=250px src="images/img-macbook-pro-2019.jpg" alt="Logo ML">
                    <br>
                    <i class="precio">$230.000</i>
                    <i class="descuento">20% off</i>
                    <p class="descripcion">MacBook Pro 2019</p>
                </section>
                <section id="Prod">
                    <img  width=250px src="images/img-samsung-galaxy-s10.jpg" alt="Logo ML">
                    <br>
                    <i class="precio">$70.500</i>
                    <i class="descuento">10% off</i>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </section>
                <section id="Prod">
                    <img width=250px src="images/img-tv-samsung-smart.jpg" alt="Logo ML">
                    <br>
                    <i class="precio">$930.000</i>
                    <i class="descuento">30% off</i>
                    <p class="descripcion">TV Samsung Smart</p>
                </section>
                <section id="Prod">
                    <img width=250px src="images/img-cafetera-moulinex.jpg" alt="Logo ML">
                    <br>
                    <i class="precio">$10.500</i>
                    <i class="descuento">15% off</i>
                    <p class="descripcion">Cafetera Moulinex</p>
                </section>
            </div>
        </main>
        
        <footer>
            
            <h3>No dudes en contactarnos</h3>
        
            <section class="notas">
                <i id= "itemF" class="fa-solid fa-credit-card" style="color:#03264C;"></i>
                <h4>Pagá con tarjeta o efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="notas">
                <i id= "itemF" class="fa-solid fa-gift" style="color:#03264C;"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="notas">
                <i id= "itemF" class="fa-solid fa-user-shield" style="color:#03264C;"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </footer>
    </body>
</html>